<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apple</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/base.css">
</head>

<body>

    <div id="mainContainer">
        <div id="primary">
            <nav>
                <ul>
                    <div>
                        <img id="logo" src="../images/winlogo.png" alt="">
                    </div>
                    <div>Store</div>
                    <div>Mac</div>
                    <div>iPod</div>
                    <div>iPhone</div>
                    <div>iPad</div>
                    <div>iTunes</div>
                    <div>Support</div>
                    <div>
                        <input type="text" placeholder="Search">
                    </div>
                </ul>
            </nav>
        </div>
        <div id="promos">
            <div>
                <img src="../images/1.jpg" alt="img1">
            </div>
            <div>
                <img src="../images/2.jpg" alt="img2">
            </div>
            <div>
                <img src="../images/3.jpg" alt="img3">
            </div>
            <div>
                <img src="../images/4.jpg" alt="img4">
            </div>
        </div>
    </div>

</body>

</html>