<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mint Sign in/up</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/base.css">
</head>

<body>

    <div id="intuit">intuit</div>

    <section id="sign-up-section">



        <header id="header">
            <div class="brands">
                <i class="fas fa-leaf"></i>
                <span>mint</span>
                <i class="fab fa-adn"> </i>
                <span>
                    quickbooks
                </span>
                <i class="fas fa-check-circle"> </i>
                <span>
                    turbotax
                </span>
            </div>
            <div id="primary-header">
                <p>
                    One Account.
                </p>
                <p>
                    Everything Intuit.
                </p>
            </div>
            <div class="secondary-header">
                Create an account for all of Intuit's products
                <br/>including Mint.
                <a href="#" target="_blank">Learn&nbsp;more</a>
            </div>
            <div class="secondary-header">
                Already have an account?
                <a href="#">Sign In</a>
            </div>
        </header>


        <form action="#" method="get" id="sign-up-form">
            <fieldset class="register">
                <label>Email Address</label>
                <input type="email" name="email" id="fieldset-email" placeholder="You'll verify this later">

                <label>Phone (recommended)</label>
                <input type="tel" name="telephone" id="fieldset-telephone" placeholder="Helps with lost passwords and security">

                <label>Password</label>
                <input type="password" name="password" id="fieldset-password" placeholder="Don't reuse an old password">
            </fieldset>

            <button type="submit">
                <i class="fas fa-lock"></i> Create Account</button>
            </button>

        </form>

        <footer id="footer">

        </footer>
    </section>



</body>

</html>