<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="url" value="https://min-api.cryptocompare.com/data/pricemultifull?fsyms=" />
    <add key="coins" value="BTC" />
    <!-- <add key="coins" value="BTC,ETH,EOS,BCH,LTC" /> -->
    <!-- <add key="currs" value="&amp;tsyms=USD,EUR,GBP,JPY" /> -->
    <add key="currs" value="&amp;tsyms=USD" />
  </appSettings>
</configuration>